<html>
<div class="box">
<img src="../assets/club/club-3.jpg"alt="">
<img src="../assets/club/club-1.jpg"alt="">
</div>
<div class="border"></div>
</html>

<style>
.border{
width:200px;
height:200px;
border-radius:50%;
border:1px solid rgb(13,94,170);
z-index:2;
}
.box{
width:200px;
height:200px;
position:absolute;
z-index:1;
animation:rotate 3s linear infinite;
border:1px solid rgb(170,13,86);
}

@keyframes rotate{
from{
transform:rotate(Odeg);
}
to{
transform:rotate(360deg);
}
}
img{
position:relative;
width:20px;
top:15px;
left:28px;
}
</style>